
h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

h2 {
    text-align: center;
    font: 1em sans-serif;
    
}

.board {
    text-align: center;
    color: black;

}

table {
    text-align: center;
    width: 300px;
    height: 300px;
}
