
body {
    text-align: center;
    margin: auto;
    background-image: url("/pics/background.jpeg")
}

h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

h2 {
    text-align: center;
    font: 1em sans-serif;
    
}

div.shown {
    margin-bottom: 20px;
}

.board {
    text-align: center;
    color: black;
    
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttons-container{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.box.button {
    font-family: serif;
}

button.reset {
    font-size: 50px;
    margin-bottom: 20px;
}

table {
    text-align: center;
    width: 100x;
    height: 100px;
    /* margin-left: 37%; */
    margin-top: 30px;
    cursor: pointer;
}
.cellImg{
    width: 40px;
    height: 40px;

}
footer {
    margin-top: 50%;
    color: whitesmoke;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}